html {
    font-size: 100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: Century gothic, sans-serif;
    background: url(../images/bg-login.jpg);
    background-color: #666666;
	background-blend-mode:multiply;
    background-size: cover;
    padding-top: 20%;
}

@media only screen and (min-width: 768px) {
    body{
        background: url(../images/bg-login.jpg) center;
        background-color: #666666;
        background-size: cover;
    }
}

/* LOGIN BUTTON */
#button {
    width: inherit;
    text-align: center;
    padding:0px 30px;

    /* Vertically Aligned */
    position:absolute;
    left:50%;
    top:45%;
    transform: translate(-50%, -45%);
    /* Vertically Aligned */
}

#login {
    border: 1px solid transparent;
    width: 200px;
    height: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

a, input, button, textarea:focus {
    outline: 0;
}

.tag-login {
    font-size: 12px;
    color: white;
    text-align: center;
}

/*ERRORS*/
.m-error1 {
    position: absolute;
    background: #f76558;
    color: #fff;
    padding: 8px;
    font-size: 12px;
    margin-left: 340px;
    width: 270px;
    margin-top: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
}

.m-error1 img {
    width: 40px;
    float: left;
    margin-right: 10px;
    margin-top: -2px;
}

#m-error {
    margin-top: 3px;
}

/* AYOS ANG FORMAT! */

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


/*CHANGE PLACEHOLDER COLOR DEFAULT*/
input::-webkit-input-placeholder {
    color: #b6c3cc;
    letter-spacing: 1px;
}

/*CHANGE PLACEHOLDER COLOR ON FOCUS*/
input:focus::-webkit-input-placeholder {
    color: #337ab7;
    letter-spacing: 1px;
}

input:-moz-placeholder {
    color: #b6c3cc;
    letter-spacing: 1px;
}

input:focus:-moz-placeholder {
    color: #337ab7;
    letter-spacing: 1px;
}

input::-moz-placeholder {
    color: #b6c3cc;
    letter-spacing: 1px;
}
input:focus::-moz-placeholder {
    color: #337ab7;
    letter-spacing: 1px;
}

input:-ms-input-placeholder {
    color: #b6c3cc;
    letter-spacing: 1px;
}

input:focus:-ms-input-placeholder {
    color: #337ab7;
    letter-spacing: 1px;
}

#login:hover {
    padding-left: 50px;
}

.tag {
    font-size: 12px;
    color: #25282e;
    text-align: center;
}

/*MODAL LOGIN*/
#modal-login {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    background: #cccccc;
    top: 0;
    left: 0;
    padding-top: 10%;
    color: #25282e;
    display: none;
}

@media (max-width:768px){
	.modal-log-count {
		width: 300px;
	}
}

.modal-log-cont {
    height: auto;
    background: white;
    margin: 0px auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 2;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Vertically Aligned */
    position:absolute;
    left:50%;
    top:45%;
    transform: translate(-50%, -45%);
    /* Vertically Aligned */
}

.modal-head {
    padding: 15px;
    font-weight: 100;
    color: #25282e;
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
}

.modal-head h3 {
    float: left;
    margin-top: -4px;
    font-weight: 300;
}

.modal-head img {
    width: 150px;
}

.clip {
    width: 4px;
    height: 40px;
    position: absolute;
    margin-left: -17px;
    margin-top: -10px;
}

#close-v {
    width: 40px;
    height: 40px;
    float: right;
    margin-right: -15px;
    margin-top: -10px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

#close-v:hover {
    width: 60px;
}

#close-v img {
    width: 10px;
    margin-top: 14px;
    margin-left: 15px;
}

.form {
    height: auto;
    margin:10px 0px;
}

.form img {
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
}

.form span {
    margin-left: 20px;
}

.form .tag {
    font-size: 12px;
    position: absolute;
    margin-top: -20px;
    margin-left: 20px;
}

.form .tag1 {
    font-size: 12px;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
}

.form form input {
    border-radius: 2px;
    padding: 2px;
    height: 40px;
    display: block;
    font-size: 12px;
    text-indent: 5px;
    letter-spacing: .5px;
    background: #f0efef;
    border: 1px solid #e6e6e6;
    -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 425px) {
    .form form input {
        width: 250px;
    }
}

@media only screen and (min-width: 768px) {
    input {
        max-width: 100% !important;
    }
}

.submit-b {
    background: #fff;
    border-top: 1px solid #e0e0e0;
    height: 40px;
}

.submit-b #l-submit {
    border: 1px solid transparent;
    height: 39px;
    color: #fff;
    position: absolute;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}

.submit-b #close {
    border: 1px solid transparent;
    background: #25282e;
    height: 39px;
    color: #fff;
    position: absolute;
    font-weight: 100;
    font-size: 12px;
    cursor: pointer;
}

.instruction {
    font-size: 12px;
    margin:10px 0px;
    /*
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    */
}

@media only screen and (min-width: 1024px) {
    .instruction{
        float:right;
    }
}

.instruction h5 {
    font-size: 14px;
    font-weight: 600;
}

/*MAIN*/
#info {
    width: inherit;
    text-align: center;
}

#info h3 {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #34495e;
}

#info h1 {
    color: #2ecc71;
    font-size: 40px;
    letter-spacing: 1px;
}

#info h5 {
    color: #2c3e50;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

#info a button{
    border: 1px solid transparent;
    background: #39b54a;
    width: 200px;
    height: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

#info a button:hover {
    padding-right: 50px;
    background: #27ae60;
}

/*ADDITIONAL*/
p.InstrucPara {
	margin:0px;
}

h5.InstrucHead {
	margin:0px;
}
/*ADDITIONAL*/