*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	position:relative;
	min-height:100%;
}

html,
body{
width:100%;
overflow-x:hidden;
}

body {
    background-color:white;
    min-height:100%;
	margin-bottom:40px;
    font-family: Century gothic, sans-serif;
}

/* AYOS ANG FORMAT! */

.PayslipCompany {
	margin:0px auto;
}

.PayslipCompany img{
	height:50px;
	width:50px;
	display:block;
	margin:3px 9px 3px 3px;
	float: left;
}

.PayslipCompany p{
	color:gray;
	font-size:20px;
	margin:0px;
}

.navbar {
	margin:0px;
	border:none;
}

.navbar-brand {
	padding: 0px;
	margin-right:6px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: none;
	overflow:hidden;
}

@media only screen and (max-width: 1352px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}

/* Pang Usog dahil sa Menu Bar */
div.NavGap{
    height:122px;
}
@media only screen and (max-width: 425px) {
	div.NavGap{
    	height:106px;
	}
}
div.NavNewGap{
    height:52px;
}
/* Pang Usog dahil sa Menu Bar */

@media only screen and (max-width: 768px) {
	.navbar-header{
		padding:0px 10px;
	}
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}


div.radio-control {
	max-width: 280px;
}

.row {
	margin:0px;
	padding:0px;
}

.form-group .control-label {
	padding-top: 7px;
	margin-bottom: 0px;
	text-align: right;
}

.form-horizontal .form-group {
    margin-right: -15px;
}

div#Login {
	height:100%;
    width: 375px;
	margin:0px auto;
    margin-top:75px;
}
div#LoginTitle {
	text-align:center;
}
div#Bar {
	height:5px;
	background-color:#2e6da4;
}
div#Logo img {
	height:117px;
	width:125px;
	margin: 25px auto 25px auto;
	display:block;
}
div#LoginForm {
	background:white;
	height:375px;
	margin:0px auto;
}
div#Form {
    width:100%;
	margin:0px auto;
	text-align:center;
}
div#Form input {
	background: url('images/user.png') no-repeat scroll 7px 7px;
	padding-left:30px;
	border-radius:4px;
	width:250px;
	height:34px;
	margin:5px auto 5px auto;
}
div#Form button {
	width:125px;
	margin:25px 0px 25px
}

div.TitleBar {
	background-color:white;
}
div.TitleBar p{
	margin:0px;
	padding:15px 0px;
	display:inline-block;
}
@media only screen and (max-width: 768px) {
	div.TitleBar p{
		font-size:12px;
	}
}
@media only screen and (max-width: 425px) {
	div.TitleBar p{
		font-size:8px;
	}
}
div.TitleBar img {
	height:45px;
	width:45px;
	display:block;
	margin:2px 9px 3px 3px;
	float: left;
}
ul.TitleBarList {
	padding:10px;
	margin:0px;
}
ul.TitleBarList li {
	display:inline;
	padding:6px;
}
ul.TitleBarList li a {
	color:#DADADA;
}
i.circle {
    padding: 5px 8px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}
@media only screen and (max-width: 425px) {
	div.LogoName{
		padding-left:9px;
	}
}
div.MenuBar {
	border-top:1px solid white;
	border-bottom:1px solid white;
}
div.MenuBar nav {
	margin:0px;
}
div.MenuBar ul {
	margin:0px;
}
div.MenuBar li: last-of-type {
	border-right:none;
}
div.MenuBar li {
	color:white;
	display:inline-block;
	text-align:center;
	padding:15px;
	margin:0px auto;
	border-right:2px solid white;
}
@media only screen and (max-width: 425px) {
	div.MenuBar li {
		padding:15px 10px;
		font-size: 9px;
	}
}
div.MenuBar li:hover {
	text-decoration:none;
}
div#myNavbar ul {
	padding-right: 15px;
}
div#myNavbar ul li a {
	padding:8px;
}
div.MenuBar li a {
	color:white;
    text-decoration:none;
}
ol.breadcrumb {
    margin:0px;
    list-style: none;
    border-radius: 4px;
    background-color: white;
    padding:0px;
}
ol.breadcrumb li{
    font-style:italic;
}
ol.breadcrumb li a {
	color:black;
    text-decoration:none;
}
div.BodyContainer {
	Background-color:white;
}
div#Title {
	padding-bottom: 10px;
}
div.BodyContent {
    margin:0px 115px;
	padding:15px 25px 45px;
    min-height:100%;
}
@media only screen and (max-width: 768px) {
	div.BodyContent {
	    margin:0px 60px;
	}
}
@media only screen and (max-width: 425px) {
	div.BodyContent {
	    margin:0px 10px;
	    padding: 5px 15px 35px;
	}
}
div.BodyContent panel {
	padding:25px;
}
div.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:40px;
	background:#ddd;
}
div.Footer p {
	padding:10px;
	margin:0px;
}

.panel-title {
	color:#337ab7;
}
div#WelcomePanel {
    background: url(../images/bg-home.jpg);
    background-color: #666666;
	background-blend-mode:multiply;
    background-size: cover;
}
div#WelcomePanel h3 {
	margin:10px 0px;
	text-align:center;
	color:white;
}

div.Pills {
	margin-bottom:20px;
}

table#HolidayTable {
    width: 100%;
    border-spacing: 0;
}
@media only screen and (max-width: 425px) {
	table#HolidayTable {
		font-size: 8px;
	}
}
table#HolidayTable th, table#HolidayTable tr, table#HolidayTable thead, table#HolidayTable tbody {
	display: block;
}
table#HolidayTable thead tr {
    /* fallback */
    width: 100%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 12px);
    width: -moz-calc(100% - 12px);
    width: calc(100% - 12px);
}
table#HolidayTable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
table#HolidayTable tbody {
	height: 178px;
    overflow-y: auto;
    overflow-x: hidden;
}
table#HolidayTable tbody td, table#HolidayTable thead th {
    width: 33.33%;
    float: left;
}

#AttendanceStat tr td {
	text-align:center;
	vertical-align:middle;
}

/* Maintenance */
table.MaintenanceTable {
	white-space:nowrap;
	margin:0px;
}

table.MaintenanceTable thead{
	
	vertical-align:middle;
}

.CreateNew{
    padding:8px 0px 8px;
}
/* Maintenance */

/* Scrollbar */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ddd;
}
/* Scrollbar */